<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Database Slots Table</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <table>
      <thead>
        <tr>
          <th rowspan="2">DB Slots</th>
          <th colspan="2">Tier1 (7*24) Debit Kredi Kartı Açık Bankacılık</th>
          <th rowspan="2">DB Slots</th>
          <th rowspan="2">DB Slots</th>
          <th colspan="2">Tier2 (7*24) Hazine Limit</th>
          <th rowspan="2">DB Slots</th>
          <th>Tier3 (7*24) WFL, MUH</th>
          <th rowspan="2">DB Slots</th>
          <th>Tier4 (Non-Kritik) Sınırsız</th>
          <th rowspan="2">DB Slots</th>
        </tr>
        <tr>
          <th>Server 1</th>
          <th>Server 2</th>
          <th>Server 3</th>
          <th>Server 4</th>
          <th>Server 5</th>
          <th>Server 6 (VMWare-ESX)</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>P1</td>
          <td class="guvenli"></td>
          <td class="guvenli"></td>
          <td>P1</td>
          <td>G1</td>
          <td class="guvenli"></td>
          <td class="guvenli"></td>
          <td>G1</td>
          <td class="guvenli"></td>
          <td>S1</td>
          <td class="guvenli"></td>
          <td>B1</td>
        </tr>
        <tr>
          <td>P2</td>
          <td class="guvenli"></td>
          <td class="guvenli"></td>
          <td>P2</td>
          <td>G2</td>
          <td class="guvenli"></td>
          <td class="guvenli"></td>
          <td>G2</td>
          <td class="guvenli"></td>
          <td>S2</td>
          <td class="guvenli"></td>
          <td>B2</td>
        </tr>
        <tr>
          <td>P3</td>
          <td class="guvenli"></td>
          <td class="guvenli"></td>
          <td>P3</td>
          <td>G3</td>
          <td class="guvenli"></td>
          <td class="guvenli"></td>
          <td>G3</td>
          <td class="guvenli"></td>
          <td>S3</td>
          <td class="guvenli"></td>
          <td>B3</td>
        </tr>
        <tr>
          <td>P4</td>
          <td class="riskli"></td>
          <td class="riskli"></td>
          <td>P4</td>
          <td>G4</td>
          <td class="riskli"></td>
          <td class="riskli"></td>
          <td>G4</td>
          <td class="riskli"></td>
          <td>S4</td>
          <td class="guvenli"></td>
          <td>B4</td>
        </tr>
        <tr>
          <td>P5</td>
          <td class="riskli"></td>
          <td class="riskli"></td>
          <td>P5</td>
          <td>G5</td>
          <td class="riskli"></td>
          <td class="riskli"></td>
          <td>G5</td>
          <td class="riskli"></td>
          <td>S5</td>
          <td class="guvenli"></td>
          <td>B5</td>
        </tr>
        <tr>
          <td>P6</td>
          <td class="kapasite-asimi"></td>
          <td class="kapasite-asimi"></td>
          <td>P6</td>
          <td>G6</td>
          <td class="kapasite-asimi"></td>
          <td class="kapasite-asimi"></td>
          <td>G6</td>
          <td class="kapasite-asimi"></td>
          <td>S6</td>
          <td class="guvenli"></td>
          <td>B6</td>
        </tr>
      </tbody>
    </table>
  </body>
</html>

